* {
  margin: 0;
  padding: 0;
  background-color: #0B0C10;
}


h1 {
  font-family: 'Proxmia Nova', sans-serif;
  color: #66FCF1;
  text-align: center;
  margin: 2rem;
}

h2 {
  font-family: 'Proxmia Nova', sans-serif;
  color: #C5C6C7;
  text-align: center;
  margin: 2rem 4rem;
}

.quizType {
  text-align: center;
  margin: auto;
}

.button {
  background-color: #45A29E; 
  border: none;
  color: white;
  padding: .75rem 2rem;
  border-radius: 2rem;
}